/*
	theme for remote-exploit.org
*/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#eee;
	margin:0;
	padding:0;
}

a { color: #c00; text-decoration: none; }
a:link { color: #c00; text-decoration: none; }
a:visited { color: #c00; text-decoration: none; }
a:active { color: #c00; text-decoration:
underline; }
a:hover { color: #c00; text-decoration:
underline; }

h1 {
	color:#c00;
	margin-bottom:-0.25em;
	padding-top:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:x-large;
	}

h2 {
	color:#c00;
	margin-bottom:1.5em;
	padding:0;
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:large;
	font-weight:bold;
	}

h3 {
	margin-top:1.5em;
	margin-bottom:-0.75em;
	padding:0;
	color:#c00;
	font-size:medium;
	}

h4, h5, h6 {
	margin-top:1.5em;
	margin-bottom:-0.75em;
	font-size:x-small;
	}

blockquote {
	background-color:#EEE;
	padding:2mm;
	border-left:5px solid #BBB;
}

pre {
	background-color:#F8F8F8;
	padding:2mm;
	border-top:0px solid #c00;
	border-left:0px solid #c00;
	border-right:0px solid #c00;
	border-bottom:0px solid #c00;
}

#banner {
	margin:0;
	padding:0;
	margin-top:0;
	font-family: verdana, arial, sans-serif;
	background-color:#fff;
	font-size:large;
	font-weight:normal;
	text-align:left;
	border-top:1px dotted #999;
	border-bottom:1px dotted #999;
	padding:15px;
}

#banner h1 {
	margin:0;
	padding:0 0 0 10px;
	font-size:x-large;
}

#banner a,
#banner a:link,
#banner a:visited,
#banner a:active,
#banner a:hover {
	font-family: verdana, arial, sans-serif;
	font-size:x-large;
	color:#000;
	text-decoration:none;
}

.description {
	font-family: verdana, arial, serif;
	color:#c00;
	font-size:large;
	font-weight:bold;
	text-transform:lowercase;
	padding:0 0 0 10px;
}

#content {
	margin:0;
	padding:0;
	margin-left:215px;
	background-color:#FFF;
}

#container {
	margin:0;
	padding:0;
	background-color:#FFF;
}

#links {
	margin:0;
	padding:0;
	float:left;
	width:199px;
	background-color:#FFF;
	border:1px solid #FFF;
	border-right: 1px dotted #999;
	padding:15px 0 15px 0;
}

#footer {
	margin:0;
	padding:0;
	clear:both;
	background-color:#999999;
	border-top:1px dotted #999;
	border-bottom:1px dotted #999;
}

.blog {
	margin:0;
	padding:0;
	padding:15px;
}

.archives {
	text-align: left;
	margin:0;
	padding:0;
	font-family: verdana, arial, sans-serif;
	color:#333;
	font-size:small;
	font-weight: normal;
	padding:15px;
	margin-left:215px;
}
.blogbody {
	font-family: verdana, arial, sans-serif;
	color:#333;
	font-size:small;
	font-weight:normal;
	line-height:120%;
}

.blogbody a,
.blogbody a:link,
.blogbody a:visited,
.blogbody a:active,
.blogbody a:hover {
	font-weight:normal;
	text-decoration:underline;
}

.title {
	font-family: verdana, arial, sans-serif;
	font-size:x-large;
	color:#c00;
	margin-bottom:15px;
}

#menu, .menu {
	font-family: verdana, arial, sans-serif;
	font-size:small;
	margin-top:25px;
	margin-bottom:25px;
	text-align:left;
}

.date {
	font-family: verdana, arial, sans-serif;
	font-size:small;
	color:#666;
	border-bottom:1px solid #999;
	margin-bottom:10px;
	font-weight:bold;
	text-align:left;
}

.posted {
	font-family: verdana, arial, sans-serif;
	font-size:x-small;
	color:#000000;
	margin-bottom:25px;
}

.articleshead {
	color:#003366;
	text-transform:lowercase;
	font-family: verdana, arial, sans-serif;
	font-weight:bold;
	}

.calendar {
	color:#555A5F;
	padding:2px;
	text-align:center;
	font-family: verdana, arial, sans-serif;
	font-size:x-small;
	font-weight:normal;
	}

.calendar table {
	border-left:15px solid #FFF;
	border-right:15px solid #FFF;
}

.calendar a,
.calendar a:link,
.calendar a:active,
.calendar a:hover {
	font-weight:bold;
	text-decoration:underline;
}

.calendarhead {	
	color:#555A5F;
	padding:2px 15px 2px 15px;
	border-left:15px solid #FFF;
	border-right:15px solid #FFF;
	text-align:center;
	font-weight:bold;
	letter-spacing:0.2em;
	text-transform:uppercase;
	border-bottom:1px solid #999;
	}

.calendarhead a,
.calendarhead a:link,
.calendarhead a:visited {
	text-decoration:none;
	}
.calendarhead a:hover {
	text-decoration:underline;
	}

.calendarday {
	font-weight:bold;
	text-align:center;
}

.side {
	margin:0;
	padding:0;
	padding:2px 15px 2px 15px;
	font-family: verdana, arial, sans-serif;
	color:#555A5F;
	font-size:x-small;
	font-weight:normal;
	line-height:150%;
}

.sidetitle {
	font-family: verdana, arial, sans-serif;
	color:#555A5F;
	font-size:small;
	font-weight:normal;
	padding:2px;
	margin-top:10px;
	letter-spacing:0.1em;
	border-bottom:1px dotted #999;
	border-left:15px solid #FFF;
	border-right:15px solid #FFF;
	text-align:left;
	text-transform:lowercase;
}

.syndicate {
	font-family: verdana, arial, sans-serif;
	font-size:x-small;
	color:#666;
	background-color:#EEE;
	margin-top:10px;
	padding:2px 15px 2px 15px;
	border-left:15px solid #FFF;
	border-right:15px solid #FFF;
	line-height:150%;
	text-align:right;
}

.feed-small {
	height: 14px;
	padding-left: 15px;
	background: url('../images/feed-icon-14x14.png') no-repeat 0% 50%;
}

.powered {
	font-family: verdana, arial, sans-serif;
	font-size:x-small;
	line-height:150%;
	background-color:#EEE;
	color:#666;
	padding:2px 15px 2px 15px;
	border-left:15px solid #FFF;
	border-right:15px solid #FFF;
	text-align:center;
}

.comments-body {
	font-family: verdana, arial, sans-serif;
	color:#666;
	font-size:small;
	font-weight: normal;
	line-height: 120%;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px dotted #999;
}

.comments-post {
	font-family: verdana, arial, sans-serif;
	color:#666;
	font-size:x-small;
	font-weight: normal;
}

.trackback-url {
	font-family: verdana, arial, sans-serif;
	color:#666;
	font-size:small;
	font-weight: normal;
	line-height: 150%;
	padding:5px;
	border:1px dotted #999;
}

.trackback-body {
	font-family: verdana, arial, sans-serif;
	color:#666;
	font-size:small;
	font-weight: normal;
	line-height: 120%;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px dotted #999;
}

.trackback-post {
	font-family: verdana, arial, sans-serif;
	color:#666;
	font-size:x-small;
	font-weight: normal;
}

.comments-head {
	font-family: verdana, arial, sans-serif;
	font-size:small;
	color: #666;
	border-bottom: 1px solid #999;
	margin-top:20px;
	font-weight: bold;
}

#banner-commentspop {
	font-family: verdana, arial, sans-serif;
	color:#FFF;
	font-size:large;
	font-weight: bold;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-top:1px solid #FFF;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.intro {
	font-family: verdana, arial, sans-serif;
	border-bottom: 1px solid #003366;
	background-color:#FFF;
	color:#333;
	font-size:small;
	font-weight: normal;
	line-height: 140%;
	padding:10px 10px 0px 10px;
	margin-bottom: 45px;
}

.intro a,
.intro a:link,
.intro a:visited,
.intro a:active,
.intro a:hover {
	font-weight: normal;
	text-decoration: underline;
	color:#333;
}

.fortune {
	color: #555;
	font-family: verdana, arial, sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: x-small;
	padding:2px 15px 2px 15px;
}
